aiodns==1.1.1
aiohttp==3.5.4
APScheduler==3.6.0
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==18.7.1
Automat==0.7.0
ccxt==1.18.537
certifi==2018.4.16
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.3
dateparser==0.7.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
multidict==4.5.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycares==3.0.0
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pytz==2019.1
regex==2019.5.25
requests==2.21.0
selenium==3.141.0
service-identity==17.0.0
six==1.12.0
tabulate==0.8.3
txaio==18.8.1
tzlocal==1.5.1
urllib3==1.24.3
yarl==1.1.0
zope.interface==4.6.0
